<div>
    <ul>
        <li><a href="#/home" id="hash1">Home</a></li>
        <li><a href="#/help" id="hash2">Help</a></li>
        <li><a href="/external" id="externalLink">External</a></li>
    </ul>
</div>